In [1]:
# Import dependencies
import pandas as pd
import gmaps
import requests

# Import the API key
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2022-08-02 16:21:42,42.6001,-73.9662,83.95,84,38,8.50
1,1,Kifri,IQ,2022-08-02 16:21:42,34.6959,44.9661,108.82,8,0,5.35
2,2,Hobart,AU,2022-08-02 16:20:18,-42.8794,147.3294,56.26,65,40,10.36
3,3,Kundiawa,PG,2022-08-02 16:21:42,-6.0167,144.9667,59.49,97,99,2.73
4,4,Upernavik,GL,2022-08-02 16:21:43,72.7868,-56.1549,45.70,74,82,11.23

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure maps to use API key
gmaps.configure(api_key=g_key)

In [6]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], 
                                 dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 73
What is the maximum temperature you would like for your trip? 85

In [14]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Albany,US,2022-08-02 16:21:42,42.6001,-73.9662,83.95,84,38,8.50
6,6,Romny,UA,2022-08-02 16:21:43,50.7510,33.4747,73.31,77,100,5.21
14,14,Shakawe,BW,2022-08-02 16:21:45,-18.3667,21.8500,78.22,23,6,5.79
17,17,Castro,BR,2022-08-02 16:21:45,-24.7911,-50.0119,76.35,34,0,3.20
18,18,Butaritari,KI,2022-08-02 16:21:46,3.0707,172.7902,81.37,75,96,18.77
20,20,Porto Novo,BJ,2022-08-02 16:21:46,6.4965,2.6036,76.82,64,92,9.91
25,25,Georgetown,MY,2022-08-02 16:21:07,5.4112,100.3354,81.95,94,40,4.61
28,28,Burglengenfeld,DE,2022-08-02 16:21:48,49.2056,12.0414,84.92,34,20,4.61
29,29,Samarai,PG,2022-08-02 16:21:49,-10.6167,150.6667,80.10,84,41,15.82
30,30,Jamestown,US,2022-08-02 16:18:09,42.0970,-79.2353,76.51,57,75,14.97

In [15]:
preferred_cities_df.count()

City_ID       192
City          192
Country       192
Date          192
Lat           192
Lng           192
Max Temp      192
Humidity      192
Cloudiness    192
Wind Speed    192
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
0           Albany      US     83.95  42.6001  -73.9662
6            Romny      UA     73.31  50.7510   33.4747
14         Shakawe      BW     78.22 -18.3667   21.8500
17          Castro      BR     76.35 -24.7911  -50.0119
18      Butaritari      KI     81.37   3.0707  172.7902
20      Porto Novo      BJ     76.82   6.4965    2.6036
25      Georgetown      MY     81.95   5.4112  100.3354
28  Burglengenfeld      DE     84.92  49.2056   12.0414
29         Samarai      PG     80.10 -10.6167  150.6667
30       Jamestown      US     76.51  42.0970  -79.2353

In [18]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

In [20]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json() 
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print ("Hotel added to data frame.")
    except (IndexError):
        print ("Hotel not found. Skipping.")

Hotel not found. Skipping.
Hotel not found. Skipping.
Hotel not found. Skipping.
Hotel not found. Skipping.
Hotel not found. Skipping.
Hotel not found. Skipping.
Hotel not found. Skipping.
Hotel not found. Skipping.
Hotel not found. Skipping.
Hotel not found. Skipping.
Hotel not found. Skipping.
Hotel not found. Skipping.
Hotel not found. Skipping.

In [21]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Albany,US,83.95,42.6001,-73.9662,
6,Romny,UA,73.31,50.7510,33.4747,Floriana
14,Shakawe,BW,78.22,-18.3667,21.8500,Ditlhapi Guest House
17,Castro,BR,76.35,-24.7911,-50.0119,CHACARA BAILLY
18,Butaritari,KI,81.37,3.0707,172.7902,Isles Sunset Lodge
20,Porto Novo,BJ,76.82,6.4965,2.6036,Tour Eiffel Hotel Benin
25,Georgetown,MY,81.95,5.4112,100.3354,Cititel Penang
28,Burglengenfeld,DE,84.92,49.2056,12.0414,Jayson & Co
29,Samarai,PG,80.10,-10.6167,150.6667,Nuli Sapi
30,Jamestown,US,76.51,42.0970,-79.2353,Hampton Inn & Suites Jamestown

In [22]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [25]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [1]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

NameError: name 'hotel_df' is not defined