## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Muana,BR,-1.5283,-49.2167,88.83,54,86,2.93,overcast clouds
1,1,Punta Arenas,CL,-53.1500,-70.9167,42.91,61,75,4.61,broken clouds
2,2,Kwinana,AU,-32.2500,115.7667,54.23,95,66,1.99,broken clouds
3,3,Rikitea,PF,-23.1203,-134.9692,70.99,62,67,21.12,broken clouds
4,4,Mahebourg,MU,-20.4081,57.7000,70.25,83,75,11.50,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the lowest maximum temperature you would like for your trip? "))
max_temp = float(input("What is the highest maximum temperature you would like for your trip? "))

What is the lowest maximum temperature you would like for your trip? 70
What is the highest maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Muana,BR,-1.5283,-49.2167,88.83,54,86,2.93,overcast clouds
3,3,Rikitea,PF,-23.1203,-134.9692,70.99,62,67,21.12,broken clouds
4,4,Mahebourg,MU,-20.4081,57.7000,70.25,83,75,11.50,broken clouds
6,6,Trapani,IT,37.8333,12.6667,88.90,66,0,13.80,clear sky
7,7,Yumen,CN,40.2833,97.2000,78.01,40,100,10.85,overcast clouds
14,14,Nova Vicosa,BR,-17.8919,-39.3719,79.63,59,27,13.67,scattered clouds
15,15,Saint-Augustin,CA,51.2260,-58.6502,75.92,46,95,9.98,overcast clouds
16,16,Angoche,MZ,-16.2325,39.9086,73.13,78,0,8.48,clear sky
20,20,Bang Saphan,TH,11.2126,99.5117,78.44,87,100,6.06,overcast clouds
29,29,Neiafu,TO,-18.6500,-173.9833,77.68,88,75,6.91,broken clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                337
City                   337
Country                337
Lat                    337
Lng                    337
Max Temp               337
Humidity               337
Cloudiness             337
Wind Speed             337
Current Description    337
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Muana,BR,88.83,overcast clouds,-1.5283,-49.2167,
3,Rikitea,PF,70.99,broken clouds,-23.1203,-134.9692,
4,Mahebourg,MU,70.25,broken clouds,-20.4081,57.7000,
6,Trapani,IT,88.90,clear sky,37.8333,12.6667,
7,Yumen,CN,78.01,overcast clouds,40.2833,97.2000,
14,Nova Vicosa,BR,79.63,scattered clouds,-17.8919,-39.3719,
15,Saint-Augustin,CA,75.92,overcast clouds,51.2260,-58.6502,
16,Angoche,MZ,73.13,clear sky,-16.2325,39.9086,
20,Bang Saphan,TH,78.44,overcast clouds,11.2126,99.5117,
29,Neiafu,TO,77.68,broken clouds,-18.6500,-173.9833,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.

params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        print ("Hotel added to data frame.")
    except (IndexError):
        print ("Hotel not found. Skipping.")

Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel not found. Skipping.
Hotel not found. Skipping.
Hotel added to data frame.
Hotel not found. Skipping.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel not found. Skipping.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel not found. Skipping.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel not found. Skipping.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel not found. Skipping.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel not found. Skipping.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel not found. Skipping.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel not found. Skipping.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel not found. Skipping.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel not found. Skipping.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel not found. Skipping.
Hotel not found. Skipping.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel not found. Skipping.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel not found. Skipping.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel not found. Skipping.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel not found. Skipping.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel not found. Skipping.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel not found. Skipping.
Hotel added to data frame.

Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel not found. Skipping.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.
Hotel added to data frame.

In [9]:
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Muana,BR,88.83,overcast clouds,-1.5283,-49.2167,Pousada Bella do Marajó
3,Rikitea,PF,70.99,broken clouds,-23.1203,-134.9692,People ThankYou
4,Mahebourg,MU,70.25,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
6,Trapani,IT,88.90,clear sky,37.8333,12.6667,
7,Yumen,CN,78.01,overcast clouds,40.2833,97.2000,
14,Nova Vicosa,BR,79.63,scattered clouds,-17.8919,-39.3719,Pousada Porto do Sol
15,Saint-Augustin,CA,75.92,overcast clouds,51.2260,-58.6502,
16,Angoche,MZ,73.13,clear sky,-16.2325,39.9086,Guest House HESADA
20,Bang Saphan,TH,78.44,overcast clouds,11.2126,99.5117,Ladawan Boutique Hotel
29,Neiafu,TO,77.68,broken clouds,-18.6500,-173.9833,Mystic Sands Beachfront Accommodation

In [10]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"] != ""]
clean_hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Muana,BR,88.83,overcast clouds,-1.5283,-49.2167,Pousada Bella do Marajó
3,Rikitea,PF,70.99,broken clouds,-23.1203,-134.9692,People ThankYou
4,Mahebourg,MU,70.25,broken clouds,-20.4081,57.7000,Shandrani Beachcomber Resort & Spa
14,Nova Vicosa,BR,79.63,scattered clouds,-17.8919,-39.3719,Pousada Porto do Sol
16,Angoche,MZ,73.13,clear sky,-16.2325,39.9086,Guest House HESADA
20,Bang Saphan,TH,78.44,overcast clouds,11.2126,99.5117,Ladawan Boutique Hotel
29,Neiafu,TO,77.68,broken clouds,-18.6500,-173.9833,Mystic Sands Beachfront Accommodation
32,Mae Ramat,TH,77.79,light rain,16.9840,98.5166,บ้านโฮ่งโฮมสเตย์ แม่ระมาด ตาก
33,San Francisco,US,77.02,broken clouds,37.7749,-122.4194,Edwardian Hotel
34,San Cristobal,VE,80.78,overcast clouds,7.7669,-72.2250,Pirineos

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map. 
locations = clean_hotel_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))